anyascii==0.3.2
blinker==1.8.2
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contractions==0.1.73
decorator==4.4.2
Flask==3.0.3
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-speech==2.26.0
google-cloud-texttospeech==2.16.3
googleapis-common-protos==1.63.1
grpcio==1.64.1
grpcio-status==1.62.2
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
moviepy==1.0.3
numpy==1.26.4
pillow==10.3.0
praw==7.7.1
prawcore==2.4.0
proglog==0.1.10
proto-plus==1.23.0
protobuf==4.25.3
pyahocorasick==2.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyphen==0.15.0
requests==2.32.3
rsa==4.9
setuptools==70.0.0
textsearch==0.0.24
textstat==0.7.3
tqdm==4.66.4
update-checker==0.18.0
urllib3==2.2.1
websocket-client==1.8.0
Werkzeug==3.0.3
wheel==0.43.0
